* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
   background-color: #eaeaea !important; 
}



.about {
    width: 100%;
    padding: 10vh 0; /* Adjusted to viewport height */
    
}

.about img {
    height: auto;
    width: 30vw; /* Adjusted to viewport width */
    transition: ease 1s;
}

.about img:hover {
    transform: translate(-1vw, -1vw) scale(1.1);
    filter: drop-shadow(1.5vw 1vw 0.2vw #f9004d);
}

.about-text {
    width: 40vw; /* Adjusted to viewport width */
}

.main {
    width: 80vw; /* Adjusted to viewport width */
    max-width: 80vw; /* Adjusted to viewport width */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text h1 {
    color: black;
    font-size: 6vw; /* Adjusted to viewport width */
    text-transform: capitalize;
    margin-bottom: 2vh; /* Adjusted to viewport height */
    transition: ease 2s;
}

@keyframes color {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.about-text h1:hover {
    background: transparent;
    color: #f9004d;
    animation-duration: infinite;
}

.about-text h5 {
    color: black;
    font-size: 2vw; /* Adjusted to viewport width */
    text-transform: capitalize;
    margin-bottom: 2vh; /* Adjusted to viewport height */
    letter-spacing: 0.2vw; /* Adjusted to viewport width */
}

span {
    color: black;
}

.about-text p {
    color: black;
    letter-spacing: 0.1vw; /* Adjusted to viewport width */
    line-height: 2.8vh; /* Adjusted to viewport height */
    font-size: 1.5vw; /* Adjusted to viewport width */
    margin-bottom: 4.5vh; /* Adjusted to viewport height */
}

button {
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 0.2vw solid transparent; /* Adjusted to viewport width */
    font-weight: bold;
    padding: 1.3vh 2vw; /* Adjusted to viewport dimensions */
    border-radius: 1.5vw; /* Adjusted to viewport width */
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 0.2vw solid #f9004d; /* Adjusted to viewport width */
    cursor: pointer;
    background-color:black;
}
