* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e0e0d6;
    color: black;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    padding: 2vh 0;
    gap: 2vw; /* Adjust the space between the maps and the form */
}

.maps,
.googleform-container {
    width: 45vw;
    max-width: 45vw; /* Adjust the maximum width as needed */
    height: 88vh; /* Set the height to be the same for both */
    border-radius: 10px; /* Add border radius */
    overflow: hidden; /* Ensure border radius is applied */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow for better visibility */
    position: relative; /* Required for pseudo-elements positioning */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.maps::before,
.maps::after,
.maps::nth-child(2)::before,
.maps::nth-child(2)::after {
    content: "";
    position: absolute;
    background-color: black;
    z-index: 1;
}

.maps::before {
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.5s ease;
}

.maps::after {
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0;
    transition: height 0.5s ease 0.5s; /* Delay to match the before element */
}

.maps:hover::before {
    width: 100%;
}

.maps:hover::after {
    height: 100%;
}

.maps:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.maps::nth-child(2)::before {
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.5s ease;
}

.maps::nth-child(2)::after {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    transition: height 0.5s ease 0.5s; /* Delay to match the before element */
}

.maps:hover::nth-child(2)::before {
    width: 100%;
}

.maps:hover::nth-child(2)::after {
    height: 100%;
}

.maps iframe,
.googleform {
    width: 100%;
    height: 100%; /* Match the height of the containers */
    border: none;
}

.favicon-container {
    width: 32px; /* Adjust size as needed */
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.favicon-container img {
    width: 100%;
    height: 100%;
}