:root {
    --pink: #ff4081;
}

body {
    font-family: "Poppins", sans-serif !important;
    font-weight: normal !important;
    margin: 0;
    background-color: #191919;
    color: white;
}

#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    font-weight: bold;
    color: white;
    font-family: "Poppins", sans-serif !important; /* Ensure font type is fixed */
}

#navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}

#navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
    font-family: "Poppins", sans-serif !important; /* Ensure font type is fixed */
}

#navbar li {
    padding: 0 1em;
}

#navbar li a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: all ease-in-out 250ms;
    font-family: "Poppins", sans-serif !important; /* Ensure font type is fixed */
}

#navbar li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--pink);
    bottom: -1em;
    transition: all ease-in-out 250ms;
}

#navbar li a:hover::after {
    width: 60%;
}

#navbar li a:hover {
    color: var(--pink);
}

#navbar li:first-child {
    margin-right: auto;
    margin-left: 3em;
}
